<!DOCTYPE html>
<head>
  <html>
    <title>Herba'spice</title>
    <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag "logo.jpg", :size=> "210x120" %>
      <div id="page-title"><%= @page_title || "Herba'spice" %></div>
    </div>

    <div>
      <nav id="herbaspice-user-nav">
        <ul>
          <% if logged_in? %>
            <li><%= link_to "Orders", '#' %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings" %></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
        </ul>
      </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        </ul>
      </nav>
    </div>

    <nav id="herbaspice-main-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products/">Products</a></li>
        <li><a href="/Health/">Health</a></li>
        <li><a href="/About us/">About us</a></li>
        <li><a href="/Contact/">Contact</a></li>
      </ul>
    </nav>

    <div id="columns">
      <div id="side">
        <div id="cart">
          <% unless @cart.blank? %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
          <%end%>
          <%end%>
        </div>

        <%= form_tag products_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
        <% end %>
        
        <h2>Categories</h2>
        <ul>
          <li><a href="http://www..../Culinary herbs">Culinary herbs</a></li>
          <li><a href="http://www..../Herbs for tea">Herbs for tea</a></li>
          <li><a href="http://www..../Scented herbs">Scented herbs</a></li>
          <li><a href="http://www..../Chiles">Chiles</a></li>
          <li><a href="http://www..../Organic Spices">Organic Spices</a></li>
          <li><a href="http://www..../Baking spices">Baking spices</a></li>
          <li><a href="http://www..../Seeds">Seeds</a></li>
          <li><a href="http://www..../Accessories">Accessories</a></li>
        </ul>

        <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </div> <!-- side -->

      <div id="main">
        <%= yield %>
        <div id="mainWrapper"></div>
      </div>

    </div> <!-- columns -->
  </body>
</html>
